{
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "consistent-this": ["error", "self"],
    "quotes": ["warn", "single", "avoid-escape"],
    "no-space-before-semi": "off",
    "no-underscore-dangle": "off",
    "no-mixed-requires": "off"
  },
  "globals": {
    "Uint8Array": true
  }
}
