{
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "consistent-this": [2, "self"],
    "quotes": [1, "single", "avoid-escape"],
    "no-space-before-semi": [0],
    "no-underscore-dangle": [0],
    "no-mixed-requires": [0]
  },
  "globals": {
    "describe": true,
    "before": true,
    "it": true,
    "after": true
  }
}
